<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sasti WhatsApp</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to WhatsAppy</h1>
      <h2>Messages From : <%= chat.from%></h2>
      <div class="chat-container">
        <h3>From : <%= chat.from %></h3>
        <p>To : <%= chat.to %></p>
        <p>Message : <%= chat.message %></p>
        <p>Created At : <%= chat.created_at.toLocaleString() %></p>
        <div class="button-container">
          <a href="/chats/"><button type="button">Back</button></a>
          <a href="/chats/<%= chat._id %>/edit"
            ><button type="button">Edit</button></a
          >
          <a href="/chats/<%= chat._id %>/delete"
            ><button class="delete-button" type="button">Delete</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>

<!-- -------------------------------------------------------------------------------------- -->
<!--     <script>
      // Fetch chats from the server and display them
      fetch("./chats")
        .then((response) => response.json())
        .then((data) => {
          const chatList = document.getElementById("chat-list");
          data.chats.forEach((chat) => {
            const li = document.createElement("li");
            li.textContent = `${chat.from}: ${chat.message}`;
            chatList.appendChild(li);
          });
        })
        .catch((error) => console.error("Error fetching chats:", error));
    </script> -->
